{% extends 'blog/base_full.html' %}

{% block content %}

    <section id="header">
            <div class="header-area">
                <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                    <div class="container">
                        <nav class="navbar navbar-default zero_mp ">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-
                                         target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand custom_navbar-brand" href="#"></a>
                            </div>

                            <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main_menu">
                                    <li class=""><a href="/base/">Home</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="/base/about/">About
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/base/about/">About Company</a></li>
                                            <li><a href="/base/howtouse/">이용방법 </a></li>
                                            <li><a href="/base/howtousewithVideo/">이용방법 영상 예시</a></li>
                                            <li><a href="/base/refund/">취소 및 환불 규정</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="/base/about/">Product
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/base/about/">Special Offer</a></li>
                                            <li><a href="javascript:getTrasaction();">New Arrivals</a></li>
                                            <li><a href="javascript:getTrasaction();">Populars</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="/base/about/">SHARE PURCHASE
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/base/about/">상품 검색</a></li>
                                            <li><a href="javascript:getTrasaction();">공유구매 신청</a></li>
                                            <li><a href="javascript:getTrasaction();">수령대기 상품</a></li>
                                            <li><a href="javascript:getTrasaction();">취소 및 환불</a></li>
                                        </ul>
                                    </li>
                                    <li class="active dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="/base/about/">BOARD<span class="sr-only">(current)</span>
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/blog/board/">공지사항</a></li>
                                            <li><a href="/blog/issues/">공유구매자 신고</a></li>
                                            <li><a href="/blog/ItemRequest/">신상품 요청</a></li>
                                            <li><a href="/blog/">Recipe 공유</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="/base/about/">ACCOUNT
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/base/about/">결제관리</a></li>
                                            <li><a href="/account/signup">Signup</a></li>
                                            <li><a href="/account/login">Login</a></li>
                                            <li><a href="/account/logout">Logout</a></li>
                                            <li><a href="javascript:getTrasaction();">신뢰도관리</a></li>
                                            <li><a href="javascript:getTrasaction();">공유구매자 리뷰</a></li>
                                            <li><a href="javascript:getTrasaction();">지역설정</a></li>
                                            <li><a href="javascript:getTrasaction();">포인트관리</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    <section id="slider">
            <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <!--<ol class="carousel-indicators">-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                    <!--&lt;!&ndash;<li data-target="#carousel-example-generic" data-slide-to="1"></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li data-target="#carousel-example-generic" data-slide-to="2"></li>&ndash;&gt;-->
                <!--</ol>-->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="slider_overlay">
                            <img src="/static/img/blog_utensil.png" alt="...">
                            <div class="carousel-caption">
                                <div class="slider_text">
                                    <h3>공지사항</h3>
                                    <p> 고려해서 불이익이 없도록 해주세요 :) </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of item With Active-->
                    <!--End of item-->
                </div>
                <!--End of Carousel Inner-->
            </div>
        </section>
        <!--end of slider section-->
<div class="container-fluid text-center">
          <div class="row content" style="height: 450px">
            <div class="col-sm-2" style="padding-top: 20px; background-color: #f1f1f1; height: 100%">
              <li class="active"><a href="/blog/board/">공지사항</a></li>
              <li><a href="/blog/issues/">공유구매자 신고</a></li>
              <li><a href="/blog/ItemRequest/">신상품 요청</a></li>
              <li><a href="/blog/">YUMMY RECIPES</a></li>
            </div>
            <div class="col-sm-8 text-left">
              <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <!--{% if user.is_authenticated %}-->
        <!--<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>-->
        <!--{% endif %}-->
        <h1>{{ post.title }}</h1> <br><br>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

              <hr>
              <h3>Copyright</h3>
              <p>Doyoung corp.</p>
            </div>
            <div class="col-sm-2 sidenav">
              <div class="well">
                <p>Share Market President</p>
                <h3>Doyoung Kim</h3>
                <img src="/static/img/doyoung.jpg" alt="..." width="500" height="1000">
              </div>
              <div class="well">
                <p>Main Chef</p>
                <h3>Paek Jong Won</h3>
                <img src="/static/img/chef.png" alt="..." width="500" height="1000">
              </div>
            </div>
          </div>
        </div>

        <footer class="container-fluid text-center">
          <p>Share Market</p>
        </footer>



    <!--<div class="post">-->
        <!--{% if post.published_date %}-->
            <!--<div class="date">-->
                <!--{{ post.published_date }}-->
            <!--</div>-->
        <!--{% endif %}-->
        <!--{% if user.is_authenticated %}-->
        <!--<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>-->
        <!--{% endif %}-->
        <!--<h1>{{ post.title }}</h1>-->
        <!--<p>{{ post.text|linebreaksbr }}</p>-->
    <!--</div>-->
{% endblock %}
